html {
    margin: auto;
    width: 1000px;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between; 
}
.header-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}

.header-text {
    font-size: 50px;
}

.header-right-side > * {
    font-size: large;
    text-align: center;
}

.container {
    border: 2px solid lightblue;
    margin-top: 30px;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box {
    box-sizing: border-box;
    border: 1px solid rgb(231, 230, 230);
}
.box.red {
    background-color: red;
}

.box:hover {
    background-color: rgb(221, 221, 221);
}

.box.red:hover {
    background-color: red;
}